{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}

    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Pseudo</th>
                <th>Image</th>
                <th>Roles</th>
                <th>Status compte</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.pseudo }}</td>
                <td><img src="{{ asset('images/' ~ utilisateur.image)}}" width="50" height="50"/></td>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                <td>{% if utilisateur.banUser == true %} Banni {% else%} Pas banni {%endif%}
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                    {% if "ROLE_ADMIN" in app.user.roles %}
                    {% if ("ROLE_SUPERADMIN" in utilisateur.roles) == false and utilisateur.banUser == 0%}
                    <a href="{{ path('app_up', {'user': utilisateur.id})  }}">promouvoir</a>
                    {%endif%}
                    {% if "ROLE_ADMIN" in utilisateur.roles and utilisateur.banUser == 0%}
                    <a href="{{ path('app_down', {'user': utilisateur.id})  }}">destituer</a>
                    {%endif%}
                    {% if utilisateur.banUser == 0 and ("ROLE_ADMIN" in utilisateur.roles == false) %}
                    <a href="{{ path('app_ban', {'user': utilisateur.id})  }}">bannir</a>
                    {%else%}
                    {% if utilisateur.banUser == 1 %}
                    <a href="{{ path('app_unban', {'user': utilisateur.id})  }}">debannir</a>
                    {% endif %}
                    {% endif %}
                    {% endif %} 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
