{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ utilisateur.pseudo }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ asset('images/' ~ utilisateur.image)}}" width="50" height="50"/></td>
            </tr>
            <tr>
                <th>Nom image</th>
                <td>{{ utilisateur.image }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{% if "ROLE_ADMIN" in utilisateur.roles %}Admin{% else %}{% if "ROLE_CREATOR" in utilisateur.roles %}Createur{% else %}Utlisateur{% endif %}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_main') }}">Acceuil</a>
    {% if (app.user.id == utilisateur.id) or "ROLE_ADMIN" in app.user.roles %}
    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">Editer profil</a>
    {%endif%}
{% endblock %}
