{% extends 'base.html.twig' %}

{% block title %}Variante index{% endblock %}

{% block body %}
    <h1>Variante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomVariante</th>
                <th>PrixVariante</th>
                <th>PrixPromoVariante</th>
                <th>CaraVariante</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for variante in variantes %}
            <tr>
                <td>{{ variante.id }}</td>
                <td>{{ variante.nomVariante }}</td>
                <td>{{ variante.prixVariante }}</td>
                <td>{{ variante.prixPromoVariante }}</td>
                <td>{{ variante.caraVariante }}</td>
                <td>
                    <a href="{{ path('app_variante_show', {'id': variante.id}) }}">show</a>
                    <a href="{{ path('app_variante_edit', {'id': variante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_variante_new') }}">Create new</a>
{% endblock %}
