{% extends 'base.html.twig' %}

{% block title %}Model{% endblock %}

{% block body %}

    <h1>Model : {{ model.nomModele }}</h1>
    
    <table class="table">
    <thead>
            <tr>
                <th>Id</th>
                <th>NomVariante</th>
                <th>PrixVariante</th>
                <th>PrixPromoVariante</th>
                <th>Nombre</th>
                <th>Operateurs</th>*
                <th>PrixTotal</th>
            </tr>
        </thead>
        <tbody>
        {% for variante in variantes %}
            <tr>
                <td>{{ variante.id }}</td>
                <td>{{ variante.nomVariante }}</td>
                <td>{{ variante.prixVariante }}</td>
                <td>{{ variante.prixPromoVariante }}</td>
                {% for nombre in nombres %}
                    {% if nombre[0] == variante.id %}
                        <td>{{ nombre[1] }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <a href="{{ path('app_model_-', { 'id' : model.id  , 'nombres' : nombres , 'idNombre' : variante.id    }) }}">-</a>
                    <a> ..... </a>
                    <a href="{{ path('app_model_+', { 'id' : model.id  , 'nombres' : nombres , 'idNombre' : variante.id    }) }}">+</a>
                </td>
                {% for nombre in nombres %}
                    {% if nombre[0] == variante.id %}
                        <td>{{ nombre[1] * variante.prixPromoVariante }}</td>
                    {% endif %}
                {% endfor %}
                <td>
                    <a href="{{ path('app_main', { 'id' : model.id  , 'nombres' : nombres , 'idNombre' : variante.id    }) }}">mettre 1 au panier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <a href="{{ path('app_model_panier_add', { 'id' : model.id  , 'nombres' : nombres}) }}">mettre le total au panier</a>

{% endblock %}