{% extends 'base.html.twig' %}

{% block title %}Createur{% endblock %}

{% block body %}
    <h1>Createur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ createur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ createur.nom }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ createur.pays }}</td>
            </tr>
            <tr>
                <th>Formation</th>
                <td>{{ createur.formation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_createur_index') }}">back to list</a>

    <a href="{{ path('app_createur_edit', {'id': createur.id}) }}">edit</a>

    {{ include('createur/_delete_form.html.twig') }}
{% endblock %}
